repos:

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.2.1
    hooks:
      - id: ruff
        args: [ --fix, --extend-select, I ]
      - id: ruff-format

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
    - id: codespell
      args: ["--ignore-words", "codespell-ignore-words.txt", "--skip", "*.csv,playground,out,*.bib,gh-pages"]
